
<link rel="stylesheet" type="text/css" href="/css/resume.css" /> 
<div class="container">
<div class="inner">

  <section id="me">
    <h2>陈嘉琪</h2>
    <blockquote>
      <p>女 / 1993年 / CET6 / 前端工程师</p>
      <p>联系方式：18675181260  / 2908204947@qq.com</p>
      <p>个人博客： <a href="https://ufresh2013.github.io/">https://ufresh2013.github.io</a></p>
      <p>Github： <a href="https://github.com/ufresh2013">https://github.com/ufresh2013</a></p>
    </blockquote>
  </section>

  <section id="education">
    <h2 class="title">Education</h2>

    <article class="clearfix">
      <div class="column fourth">
        <h4>2011.9-2015.6</h>
      </div>
      <div class="column three-fourth">
        <span>华中科技大学</span><span class="desc">市场营销</span>
      </div>
    </article>

    <article class="clearfix">
      <div class="column fourth">
        <h4>2013.3-2015.6</h4>
      </div>
      <div class="column three-fourth">
        <span>华中师范大学</span><span class="desc">心理学(双学位)</span>
      </div>
    </article>
  </section>



  <section id="experience">
    <h2 class="title">Work Experience</h2>
    <article class="clearfix folded unload">
      <div class="column fourth">
        <h4><a>广州英荔教育有限公司 - 前端工程师<span class="desc">2018.3-至今</span></a></h4>
        <span>使用React + react-router + dva + ant design pro全家桶完成项目开发。</span>
      </div>
    </article>
    <article class="clearfix folded unload">
      <div class="column fourth">
        <h4><a>广州火微数据服务有限公司 - 前端工程师<span class="desc">2016.9-2018.2</span></a></h4>
        <span>完成UI设计、使用Vue完成页面开发，前后端分离协作。</span>
      </div>
    </article>
    <article class="clearfix folded unload">
      <div class="column fourth">
        <h4><a>佛山市宜倍事智能科技有限公司 - 文案策划<span class="desc">2015.6-2016.4</span></a></h4>
        <span>负责公众号运营，活动策划与执行。</span>
      </div>
    </article>
  </section>

  <section id="experience">
    <h2 class="title">Skills</h2>

    <article class="clearfix folded unload">
      <div class="column three-fourth">
        <h3>
          <span>HTML5 / CSS / Javascript</span>
            <small class="desc unfold">-</small>
        </h3>
          <ul>
              <li>熟练使用React，React-router, Redux, Ant-design, dva, webpack全家桶</li>  
              <li>熟练使用ES6, 原生JS, BOM, DOM, 正则表达式</li>
              <li>有Vue, 微信小程序, electron开发经验</li>
              <li>熟练使用chrome调试、Charles抓包工具， git协同开发</li>
              <li>熟练使用CSS3属性，flex布局, 可高度还原设计图，兼容IE11 + 主流浏览器 + 移动端浏览器</li>
              <li>对nodejs有一些了解，使用Express搭建本地服务器，模拟调试</li>
              <li>可流畅地阅读英文文档</li>
              <li>熟练使用photoshop</li>
          </ul>
      </div>
    </article>


  </section>

  <section id="presentation">
    <h2 class="title">Work Presentation</h2>
    <article class="clearfix folded unload">
      <div class="column fourth">
        <h4><a href="https://www.elitemba.cn/">To B 教育平台 (E-ducation)</a></h4>
        <span>【项目描述】<br/>企业购买Sass服务，便可获取自己的教育平台，进入后台可以升级、配置实例。</span>
        <br/>
        <span>【主要负责】<br/>
        ① 使用Ant-design-pro 及 create-react-app 脚手架搭建项目，独立完成所有前端功能。<br/>
        ② 注册获取实例流程，分5步：选择套餐，邮箱注册，绑定手机，填写企业信息，获取站点域名。一旦完成邮箱注册，重新刷新页面，需记住用户走到哪一步。<br/>
        ② 管理实例后台: 1. 购买套餐/插件/功能，共用一个支付弹框，实现父子组件都可以控制弹框显示。2. 消费记录列表，JS实现关键字搜索，导出excel文件。3. 登录，重置密码，账号设置, 功能设置等其余模块</span>
      </div>
    </article>
    <article class="clearfix folded unload">
      <div class="column fourth">
        <h4><a href="https://www.elitemba.cn/">To C 教育平台 (英荔商学院)</a></h4>
        <span>【项目描述】<br/>基于Open Edx开源项目的二次开发，包含课程学习，课程制作，数据分析，定价支付，营销主站5个站点。</span>
        <br/>
        <span>【主要负责】<br/>
        ① 高度还原设计稿，兼容IE11，兼容手机端显示，支持中英文<br/>
        ② 营销主站的组件编写：轮播图，博客文章，消息通知，单点登录(共享主域cookie)，APP扫码登录<br/>
        ③ 企业网盘插件：使用Ant Design + Redux + React Router + Axios 实现文件列表，上传、下载、搜索、删除、移动文件</span>
      </div>
    </article>
    <article class="clearfix folded unload">
      <div class="column fourth">
        <h4><a>直播网页端 + 桌面端 (英荔播客)</a></h4>
        <span>【项目描述】<br/>使用Ant Design pro开发的教学类直播产品。</span><br>
        【主要负责】<br/>
        ① 负责页面：创建直播，分享直播，创建/预览试题，直播间入口页（凭密码进入，手机/邮箱登录进入，付费进入）。<br/>
        ② 编写组件：使用websocket + canvas实现白板功能；上传图片裁剪成头像。<br/>
        ③ 基础搭建：使用create-react-app + electron 搭建推流桌面端，调通第三方sdk接口调用。</span>
      </div>
    </article>
    <article class="clearfix folded unload">
      <div class="column fourth">
        <h4><a>商户管理后台 （分乐）</a></h4>
        <span>【项目描述】<br/>为商户提供广发信用卡 分期支付，积分支付，积分+现金支付接口。</span><br/>
        <span>【主要负责】<br/>使用Vue + jQuery + webpack开发。独立完成支付退款，订单查询、支付错误统计等模块。</span>
      </div>
    </article>
    <article class="clearfix folded unload">
      <div class="column fourth">
        <h4><a>移动端dweb （火微飞贷）</a></h4>
        <span>【项目描述】<br/>商户同意授权查询大润发的应收账款数据，生成信用评级报表，随后向多家银行发起贷款申请。<br/>
          【主要负责】<br/>登录注册，提交授权信息，报表展示，贷款申请进度等模块</span>
      </div>
    </article>
    <article class="clearfix folded unload">
      <div class="column fourth">
        <h4><a>微信小程序 （小黑板儿）</a></h4>
        <span>【项目描述】<br/>幼儿园、小学老师与家长沟通交流的空间，老师可以发布通知收款，查看家长完成情况。已有11万访问用户。</span><br/>
        <span>【主要负责】<br/>
        ① 参与原型设计，使用 photoShop 完成UI设计。<br/>
        ② 完成前端开发，包括发布信息、分享动态、发起收款，多人付款、组建班级等模块。</span>
      </div>
    </article>

    <article class="clearfix folded unload">
      <div class="column fourth">
        <h4><a>其它</a></h4>
        <a href="https://github.com/ufresh2013/hexo-theme-notebook">hexo主题包</a>
        <a href="https://ufresh2013.github.io/resume/show/01/index.html">贪吃蛇</a>
        <a href="https://ufresh2013.github.io/resume/show/02/index.html">2048</a>
      </div>
    </article>
  </section>


  

<script type="text/javascript">
    for(var i=0;i<3;i++){
      (function(){
          var fold = document.getElementsByTagName('small')[i];
          var ul = document.getElementsByTagName('ul')[i];
          fold.addEventListener('click',function(event){
              if(ul.style.display === 'none'){
                ul.style.display = 'block';
              }else{
                ul.style.display = 'none';
              }
          });
      })(i);
    }
</script>

