.text-center {
  text-align: center !important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
blockquote,
body,
fieldset,
figure,
menu,
pre,
ol,
ul,
dd,
dl {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
ol,
ul,
dd,
dl {
  padding-left: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
  line-height: 1.5rem;
  font-weight: 500;
}
h1 {
  font-size: 18px;
  padding: 0 12px;
  margin-bottom: 12px;
}
b,
optgroup,
strong {
  font-weight: 600;
}
a {
  color: inherit;
}
p {
  margin: 0.75rem 0;
}
a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
}
.pr {
  position: absolute !important;
  right: 0;
}
.float-r {
  float: right;
}
em {
  color: #FF5722;
  font-weight: bold;
  font-style: normal;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 7px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
}
::selection {
  background: #64B5F6;
  color: #fff;
}
.tag-button {
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
  height: 30px;
  margin: 5px;
  padding: 0 12px;
  color: #555555;
  border-radius: 15px;
  background: #f6f6f6;
  min-width: 50px;
  text-align: center;
}
.tag-button a {
  color: #555555;
}
.tag-button:hover {
  color: #555555;
  background: #efefef;
}
.post-page {
  background-color: #fff;
  padding: 30px 10px 10px;
  position: relative;
}
html,
body {
  font-size: 14px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
}
body {
  color: #202020;
  line-height: 1.8rem;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  padding-left: calc(100vw - 100%);
}
.container {
  padding: 0 10px;
  margin: 0 auto 60px;
  min-height: calc(100vh - 120px);
}
.section {
  padding: 0 30px 30px 280px;
  width: 100%;
}
.recent-posts {
  max-width: 800px;
  margin: 0 auto;
}
.recent-posts .post-title {
  font-size: 13px;
  line-height: 2;
  color: #1890ff;
  display: block;
  padding-top: 30px;
}
.recent-posts ul {
  list-style: none;
  padding: 0;
}
.recent-posts li {
  line-height: 1.5;
  padding: 5px 0;
  font-size: 13px;
}
.recent-posts li span {
  color: #999999;
  float: right;
}
.page-nav {
  margin: 12px 0 0;
  padding: 10px 0 10px;
}
.page-nav .page-number {
  border-bottom: 1px solid #eee;
  display: inline-block;
  position: relative;
  top: -1px;
  margin: 0 10px;
  padding: 0 11px;
}
.page-nav .page-number:hover {
  border-bottom-color: #222;
}
.page-nav .page-number.current {
  color: #fff;
  background: #ccc;
  border-top-color: #ccc;
}
.post {
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 10px 10px;
  position: relative;
}
.post > div {
  margin: 0 auto;
  max-width: 800px;
}
.post .post-header {
  margin: 10px 0 20px;
}
.post .post-header .title {
  margin: 1rem;
  line-height: 2rem;
}
.post .post-header .time {
  color: #999999;
}
.post hr {
  width: 10%;
}
.post blockquote {
  padding: 1rem;
  margin: 1rem 0;
  padding-left: 20px;
  border: 1px solid #eee;
  border-left: 4px solid #ccc;
  color: #555555;
}
.post blockquote p {
  margin: 0;
}
.post table {
  max-width: 100%;
}
.post img {
  text-align: center;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 1024px;
}
.post .post-content h2,
.post .post-content h3,
.post .post-content h4,
.post .post-content h5,
.post .post-content h6 {
  padding-top: 70px;
  margin-top: -56px;
}
.post .post-content table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 21px;
  border: 1px solid #ddd;
}
.post .post-content table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
.post .post-content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.post .post-content table th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
  background-color: #f6f8fa;
}
.post .post-content table td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.post .post-content table th:first-child,
.post .post-content table td:first-child {
  margin-top: 0;
}
.post .post-content table th:last-child,
.post .post-content table td:last-child {
  margin-bottom: 0;
}
.post .post-content .note {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
}
.post .post-content .note p {
  margin: 0;
}
.post .post-content .note.primary {
  border-left-color: #6f42c1;
}
.post .post-content .note.info {
  border-left-color: #428bca;
}
.post .post-content .note.success {
  border-left-color: #5cb85c;
}
.post .post-content .note.warning {
  border-left-color: #f0ad4e;
}
.post .post-content .note.danger {
  border-left-color: #d9534f;
}
.post .post-content a {
  color: #2196f3;
}
.post .post-tags {
  text-align: center;
  margin: 20px 0;
}
.post .post-tags .article-tag-list-item {
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
  height: 30px;
  margin: 5px;
  padding: 0 12px;
  color: #555555;
  border-radius: 15px;
  background: #f6f6f6;
  min-width: 50px;
  text-align: center;
}
.post .post-tags .article-tag-list-item a {
  color: #555555;
}
.post .post-tags .article-tag-list-item:hover {
  color: #555555;
  background: #efefef;
}
.page {
  border: none;
  box-shadow: none;
}
.page hr {
  width: 10%;
}
.page li {
  padding: .25rem 0;
}
.page .tag-list .tag-list-item {
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
  height: 30px;
  margin: 5px;
  padding: 0 12px;
  color: #555555;
  border-radius: 15px;
  background: #f6f6f6;
  min-width: 50px;
  text-align: center;
}
.page .tag-list .tag-list-item a {
  color: #555555;
}
.page .tag-list .tag-list-item:hover {
  color: #555555;
  background: #efefef;
}
.page .tag-list .tag-list-item .tag-list-link {
  font-weight: 500;
  margin-right: 5px;
}
.tag-page {
  background-color: #fff;
  padding: 30px 10px 10px;
  position: relative;
  border: none !important;
  box-shadow: none !important;
}
.tag-page .tag-item {
  padding: .5rem 0;
}
.tag-page .tag-item time {
  color: #999999;
  font-size: 12px;
  float: right;
}
@media screen and (max-width: 576px) {
  .tag-page .tag-item time {
    display: block;
    float: none;
  }
}
.post-nav {
  background-color: #fff;
  display: block;
  display: flex;
  font-size: 0;
  margin: 10px auto;
  max-width: 880px;
  padding: 0 10px;
  position: relative;
}
.post-nav .post-nav-item {
  display: inline-block;
  flex: 1;
  font-size: 14px;
  padding: 10px 0;
  position: relative;
  vertical-align: top;
  width: 49.5%;
}
.post-nav .post-nav-item span {
  display: inline-block;
  position: absolute;
}
.post-nav .post-nav-item a {
  margin-left: 20px;
  display: inline-block;
}
.post-nav .post-nav-prev {
  text-align: right;
}
.post-nav .post-nav-prev a {
  margin-right: 20px;
}
.post-nav .post-nav-prev span {
  right: 0;
}
@media screen and (max-width: 576px) {
  .post-nav {
    display: none;
  }
}
.disqus-comments {
  background-color: #fff;
  display: block;
  margin: 0 auto;
  max-width: 880px;
  padding: 0 15px;
}
.search-content {
  padding-top: 30px;
  max-width: 800px;
  margin: 0 auto;
}
.search-content .pure-input {
  border-radius: 2px !important;
  box-shadow: none !important;
  margin-bottom: 10px;
}
.search-content .pure-input:focus {
  border-color: #ccc !important;
}
.search-content .search-result {
  color: #999999;
}
.search-result-list {
  margin-top: 10px;
}
.search-result-list a.search-result-title {
  color: #202020;
  font-weight: normal;
  font-size: 14px;
}
.search-result-list .search-keyword {
  color: #ff5722;
  font-weight: bold;
}
.archives .archive-year-wrap {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 476px) {
  .archives .archive-year-wrap {
    margin-left: -1rem;
  }
}
.archives .archive {
  border-left: 2px solid #ccc;
  position: relative;
  padding: .5rem 0;
  padding-left: 1rem!important;
}
.archives .archive:before {
  position: absolute;
  top: 1rem;
  left: -7px;
  z-index: 1;
  display: block;
  content: "";
  background-color: #999;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.archives .archive .title {
  margin: 0;
  font-weight: normal;
}
.archives .archive .date {
  color: #666;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: 2px;
}
@media screen and (min-width: 476px) {
  .archives .archive .date {
    position: absolute;
    right: 0;
    top: .5em;
  }
}
.tab {
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px 0;
  border-right: 1px solid #dedede7a;
  height: 100%;
}
.tab .tab-title {
  display: block;
  width: 220px;
  height: 32px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 13px;
}
.tab .tab-search {
  height: 32px;
  display: inline-block;
  background: #eaeaea75;
  width: 100%;
  line-height: 32px;
  font-size: 13px;
  padding: 0 15px;
}
.tab .tab-search svg {
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.tab .tab-active,
.tab .tab-search-active {
  background: #e6f7ff;
  border-right: 3px solid #1890ff;
}
.toc-article {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  border-right: 1px solid #dedede7a;
  padding: 15px 0;
  width: 250px;
  font-size: 13px;
  overflow-y: auto;
  height: 100%;
}
.toc-article .title {
  margin-bottom: 15px;
}
.toc-article ol,
.toc-article ul {
  list-style: none;
  padding: 0 10px;
}
.toc-article ol ol,
.toc-article ul ol,
.toc-article ol ul,
.toc-article ul ul {
  padding-left: 1rem;
}
@media screen and (max-width: 767px) {
  .section {
    padding: 0;
  }
  .tab {
    position: static;
    border: none;
    padding: 15px 0 0;
  }
  .tab .tab-search {
    display: none;
  }
  .tab .tab-title {
    display: none;
  }
  .recent-posts:first-child .post-title {
    padding-top: 0;
  }
  h1 {
    padding: 0;
  }
  .toc {
    height: auto;
    border: 1px solid;
  }
  .toc-article {
    position: static;
    height: auto;
    border-right: none;
    width: 100%;
  }
  .toc-article .title {
    margin: 0;
    padding: 0;
  }
  .toc-article ol {
    display: none;
  }
}
pre,
code {
  background-color: #f6f8fa;
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
  font-weight: 300;
}
pre {
  padding: 10px;
}
pre code {
  padding: 10px;
}
code {
  padding: 2px 4px;
  font-size: 13px;
}
.highlight {
  display: block;
  overflow-x: auto;
  color: #555;
  font-size: 14px;
  border-radius: 2px;
  background-color: #f6f6f6;
  overflow-y: hidden;
  margin: 20px 0;
}
.highlight table {
  margin: 0 !important;
  width: auto !important;
  border: none !important;
}
.highlight table tr {
  border: none !important;
}
.highlight table td {
  border: none !important;
  padding: 0 !important;
}
.highlight .line {
  height: 20px;
  line-height: 20px;
}
.highlight .gutter pre {
  padding: 10px;
  color: #869194;
  background-color: #eff2f3;
  text-align: center;
  overflow: hidden;
  display: none;
}
.highlight .code {
  font-size: 13px;
}
.highlight .code pre {
  padding: 10px;
}
.highlight .comment,
.highlight .meta {
  color: #b3b3b3;
}
.highlight .string,
.highlight .value,
.highlight .variable,
.highlight .template-variable,
.highlight .strong,
.highlight .emphasis,
.highlight .quote,
.highlight .inheritance,
.highlight .ruby .symbol,
.highlight .xml .cdata {
  color: #1abc9c;
}
.highlight .keyword,
.highlight .selector-tag,
.highlight .type,
.highlight .javascript .function {
  color: #e96900;
}
.highlight .preprocessor,
.highlight .built_in,
.highlight .params,
.highlight .constant,
.highlight .symbol,
.highlight .bullet,
.highlight .attribute,
.highlight .css .hexcolor {
  color: #1abc9c;
}
.highlight .number,
.highlight .literal {
  color: #ae81ff;
}
.highlight .section,
.highlight .header,
.highlight .name,
.highlight .function,
.highlight .python .decorator,
.highlight .python .title,
.highlight .ruby .function .title,
.highlight .ruby .title .keyword,
.highlight .perl .sub,
.highlight .javascript .title,
.highlight .coffeescript .title {
  color: #525252;
}
.highlight .tag,
.highlight .regexp {
  color: #2973b7;
}
.highlight .title,
.highlight .attr,
.highlight .selector-id,
.highlight .selector-class,
.highlight .selector-attr,
.highlight .selector-pseudo,
.highlight .ruby .constant,
.highlight .xml .tag .title,
.highlight .xml .pi,
.highlight .xml .doctype,
.highlight .html .doctype,
.highlight .css .id,
.highlight .css .pseudo,
.highlight .class,
.highlight .ruby .class .title {
  color: #2973b7;
}
.highlight .css .code .attribute {
  color: #e96900;
}
.highlight .css .class {
  color: #525252;
}
.highlight .tag .attribute {
  color: #e96900;
}
.highlight .addition {
  color: #55a532;
  background-color: #eaffea;
}
.highlight .deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.highlight .link {
  text-decoration: underline;
}
.highlight .function .keyword {
  color: #0092db;
}
.highlight .function .params {
  color: #525252;
}
.highlight .function .title {
  color: #525252;
}
