<div class="section">
  <div class="search-content">
    <form class="pure-form">
      <input type="text" 
        id="local-search-input" 
        name="q" 
        results="0" 
        autocomplete="off"
        placeholder="<%= __('search') %>" 
        class="pure-input pure-input-1" />
    </form>
    <div id="local-search-result"></div>
  </div>
</div>
